<!DOCTYPE html>
<html ng-app='app' ng-controller='dataCtrl'>
<head>
	<title>{{title}}</title>
	<style type="text/css"> @import "styleHello.css";</style>
	<!--script src="../lib/angular.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
	<script src="controller.js"></script>
</head>
<body>
	<center>
		<header>
			<h2>&#915; &#8851; &alpha; &sigmaf; &kappa; &epsilon; &#8851;</h2>
		</header>
	</center>
	<div class="container collapsable" ng-show="IsEdit">
		<div class="row">
			<input type="text" class="form-control" ng-model="userInput">
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button type="button" ng-click="save()" class="btn btn-primary">
					<i class="fas fa-location-arrow"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<button type="button" ng-click="send()" class="btn btn-primary"><i class="fas fa-envelope"></i></button>
			</div>
			<div class="col-sm-4">
				<button type="button" ng-click="add()" class="btn btn-secondary float-right"><i class="fas fa-chart-line"></i></button>
			</div>
			<div class="col-sm-4">
				<button type="button" ng-click="load()" class="btn btn-primary"><i class="fas fa-upload"></i></button>
			</div>
		</div>
		<div class="row">
		  <div class="col-sm" ng-repeat="elem in ObjToStore">
			<div class="row">
				<h5>{{elem.title}}</h5>
			</div>
			<div class="row" ng-if="elem.count!==undefined">
				<div class="access border border-info rounded-pill">
					<i class="fas fa-plus" ng-click="incr(elem)"></i>
					<span ng-class="returnCountClass(elem)">{{elem.count}}</span>
					<i class="fas fa-minus" ng-click="decr(elem)"></i>
				</div>
				<span ng-if="elem.count" class="badge bg-warning text-dark">{{elem.allowedAccess - elem.count}} Left</span>
			</div>
			<div class="row">
				<span class="border border-info rounded-pill" ng-class="returnValueClass(elem)">{{elem.total | currency: "₹"}}</span>
				<span class="glyphicon glyphicon-ok"></span>
				<span ng-if="elem.total" class="badge bg-success text-dark">{{elem.ExCap - elem.total}} Left</span>
			</div>
			<div class="row">
				<input type="number" ng-model="elem.entry">
			</div>
			<table class="table">
				<tr ng-repeat="item in elem.history" ng-class-even="'striped'">
					<td>{{item.val | currency: "₹"}}</td>
					<td>{{item.month}}</td>
				</tr>
			</table>
		  </div>
		</div>
	</div>
</body>
</html>